<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css'>
<style>
h1 { margin-bottom: 20px; }
.lead { margin-bottom: 10px; }
table.table { margin-bottom: 0; }
table.table th { white-space: nowrap; }
.keyinfo { font-size: 130%;}
.systemCode { font-size: 60%; color: #777; background: rgba(0, 0, 0, 0); }
.panel { margin: 20px 0; }
.label { display: inline-block; font-size: inherit; }
time { border-bottom: 1px dotted #bbb; }
.kv dl { margin: 0; overflow:hidden; }
.kv dt { float: left; max-width: 115px; text-overflow: ellipsis; }
.kv dd { margin-left: 115px; }
@media (min-width: 770px) {
	.kv dl { display: inline-block; width: 49%; }
}
@media (min-width: 1200px) {
	.kv { display: flex;}
	.kv dl { width: auto; flex: 1 0 auto; }
	.kv dt { float: none; display: inline-block; padding-right: 10px; }
	.kv dd { margin: 0; display: inline-block; }
}
.kv dt, .kv dd {  }
.label-servicetier-platinum { background-color: #86A2BF; }
.label-servicetier-gold { background-color: #A25709; }
.label-servicetier-silver { background-color: #a2a2a2; }
.label-servicetier-bronze { background-color: #7D5C33; }
.label-audience-public { background-color: #49A4F3; }
.label-audience-publicselected { background-color: #1B6CB3; }
.label-audience-internal { background-color: #68AD8A; }
.label-category-deployment { background-color: #f00;}
.label-category-documentation { background-color: #628BAF; }
.label-category-issues { background-color: #008000; }
.label-category-monitoring { background-color: #DA6595; }
.label-category-repo { background-color: #940000; }
.label-category-testing { background-color: #118282; }
.label-category-dependency { background-color: #000000; }
</style>
<div class='container'>

	<h1>Service information</h1>

	<p class='lead'>
		<strong>{{name}}</strong>
		<code class='systemCode'>{{systemCode}}</code>
	</p>

	{{#purpose}}
		<p>{{purpose}}</p>
	{{/purpose}}

	<div class='keyinfo kv'>
		<dl><dt>Audience</dt><dd><span class="label label-audience-{{audienceSlug}}">{{audience}}</span></dd></dl>
		<dl><dt>Service tier</dt><dd><span class="label label-servicetier-{{serviceTierSlug}}">{{serviceTier}}</span></dd></dl>
		<dl><dt>Created</dt><dd><time datetime='{{{dateCreated}}}'></time></dd></dl>
		<dl><dt>URL</dt><dd><a href='{{primaryUrl}}'>{{primaryUrl}}</a></dd></dl>
	</div>

	{{#appVersion}}
	<div class='panel-group'>
		<div class='panel panel-default'>
			<div class="panel-heading">
				<h4 class="panel-title">Current version</h4>
			</div>
			<div class="panel-body">
				<p>
					Running version <code>{{appVersion}}</code>
					{{#hostname}} on <code>{{hostname}}</code>{{/hostname}}
					{{#dateDeployed}} deployed <time datetime='{{{dateDeployed}}}'></time>{{/dateDeployed}}
				</p>
			</div>
		</div>
	</div>
	{{/appVersion}}

	{{#apisCount}}
	<div class='panel panel-default'>
		<div class="panel-heading">
			<h4 class="panel-title">API endpoints exposed by this service ({{apisCount}})</h4>
		</div>
		<table class='table'>
		{{#apiVersions}}
			<tr>
			<td><code>{{path}}</code></td>
			<td>{{supportStatus}}</td>
			<td>
				{{#dateTerminated}}
					Termination date: <time datetime='{{{dateTerminated}}}'></time>
				{{/dateTerminated}}
			</td>
			</tr>
		{{/apiVersions}}
		</table>
	</div>
	{{/apisCount}}

	{{#contactsCount}}
	<div class='panel panel-default'>
		<div class="panel-heading">
			<h4 class="panel-title">Contacts ({{contactsCount}})</h4>
		</div>
		<table class='table'>
		{{#contacts}}
			<tr>
			<td><span class="label label-default">{{rel}}</span></td>
			<td>{{name}}</td>
			<td><a href='mailto:{{email}}'>{{email}}</a></td>
			<td>{{domain}}</td>
			</tr>
		{{/contacts}}
		</table>
	</div>
	{{/contactsCount}}

	{{#linksCount}}
	<div class='panel panel-default'>
		<div class="panel-heading">
			<h4 class="panel-title">Resources ({{linksCount}})</h4>
		</div>
		<table class='table'>
		{{#links}}
			<tr>
			<td><span class="label label-category-{{categorySlug}}">{{category}}</span></td>
			<td>
				{{#description}}
					<a href='{{url}}'>{{description}}</a>
				{{/description}}
				{{^description}}
					<a href='{{url}}'>{{url}}</a>
				{{/description}}
			</td>
			</tr>
		{{/links}}
		</table>
	</div>
	{{/linksCount}}

</div>
